div#app {
    display: flex;
    margin: 50px 0;
    justify-content: center;
}

div#container {
  display: flex;
}

button {
  width: 2em;
  height: 2em;
  font-size: 2em;
}

div#counter {
    width: 5em;
    font-size: 2em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}